<table>
  <% blog.blog_comments.each do |blog_comment| %>
  <% blog_comment_user = blog_comment.user %>
  <tr>
    <td>
      <%= link_to user_path(blog_comment_user), class: "user_#{blog_comment_user.id}" do %>
      <%= attachment_image_tag blog_comment_user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg", size: "50×50" %><br>
      <%= blog_comment_user.name %>
      <% end %>
    </td>
    <td><%= blog_comment.comment %></td>
    <% if current_user == blog_comment_user %>
    <td><%= link_to 'Destroy', blog_blog_comment_path(blog_comment.blog_id, blog_comment.id), class: 'btn-sm btn-danger', method: :delete, remote:true %></td>
    <% end %>
  </tr>
  <% end %>
</table>